{% extends "accounts/auth_base.html" %}
{% load static %}
{% block title %}Polish Dart System | Log in{% endblock %}
{% block content %}

<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="text-center my-5">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'svg/pds_logo.svg' %}" alt="Polish Dart System logo" width="75">
                    </a>
                </div>
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Log in</h1>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="id_email">E-Mail address</label>
                                <input id="id_email" type="email" class="form-control" name="username" value="" required autofocus>
                            </div>

                            <div class="mb-3">
                                <div class="mb-2 w-100">
                                    <label class="text-muted" for="id_password">Password</label>
                                    <input id="id_password" type="password" class="form-control" name="password" required>
                                </div>
                            </div>

                            <div class="d-flex align-items-center">
                                 <a href="{% url 'password_reset' %}" class="float-end">
                                        Forgot password?
                                 </a>
                                <button type="submit" class="btn btn-primary ms-auto">
                                    Log in
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            No account? <a href="{% url 'signup' %}" class="text-dark">Sign up here</a>
                        </div>
                    </div>
                </div>
                {% include 'accounts/auth_footer.html'%}
            </div>
        </div>
    </div>
</section>

{% endblock %}
