{% extends "accounts/auth_base.html" %}
{% load static %}

{% block content %}

<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="text-center my-5">
                    <img src="{% static 'svg/pds_logo.svg' %}" alt="Polish Dart System logo" width="70">
                </div>
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Logout</h1>
                            <div class="mb-3">
                                You are logged out. I hope You will come back soon. Don't forget.
                            </div>

                            <div class="d-flex align-items-center">
                                <a href="{% url 'home' %}">
                                    <button type="submit" class="btn btn-primary ms-auto">Home</button>
                                </a>
                            </div>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            Changed Your mind? <a href="{% url 'login' %}" class="text-dark">Login</a>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-5 text-muted">
                    Copyright &copy; 2023 &mdash; Polish Dart System
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}