{% extends 'base.html' %}
{% load static %}
{% block title %}Polish Dart System | Update profile: {{ profile_edit.get_full_name }}{% endblock %}
{% block content %}

    <section>
        <div class="row align-items-center">
            <div class="col">
                <img src="{% static "/img/dartboard.jpeg" %}" alt="Dartboard" width="100%" height="auto">
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <div>
                    <h5 class="fw-bold mb-3">Update profile: {{ profile_edit.get_full_name }}</h5>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-2">
                            <label class="mb-2 text-muted" for="id_email">E-Mail address (as login)</label>
                            <input id="id_email" type="email" class="form-control"
                                   name="email" value="{{ profile_edit.email }}" readonly>
                        </div>

                        <div class="mb-2">
                            <label class="mb-2 text-muted" for="id_first_name">First name</label>
                            <input id="id_first_name" type="text" class="form-control"
                                   name="first_name" value="{{ profile_edit.first_name }}">
                        </div>

                        <div class="mb-2">
                            <label class="mb-2 text-muted" for="id_last_name">Last name</label>
                            <input id="id_last_name" type="text" class="form-control"
                                   name="last_name" value="{{ profile_edit.last_name }}">
                        </div>

                        <div class="mb-2">
                            <label class="mb-2 text-muted" for="id_country">Country</label>
                            <input id="id_country" type="text" class="form-control"
                                   name="country" value="{{ profile_edit.country }}">
                        </div>

                        <div class="mb-2">
                            <label class="mb-2 text-muted" for="id_city">City</label>
                            <input id="id_city" type="text" class="form-control"
                                   name="city" value="{{ profile_edit.city }}">
                        </div>

                        <div class="mb-2">
                            <label class="mb-2 text-muted" for="id_phone">Phone</label>
                            <input id="id_phone" type="text" class="form-control"
                                   name="phone" value="{{ profile_edit.phone }}">
                        </div>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                            <button type="submit" class="btn btn-success btn-sm">
                                Save changes
                            </button>
                            <a href="{% url 'profile' profile_edit.pk %}">
                                <button type="button" class="btn btn-danger btn-sm">
                                    Don't save
                                </button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
