{% extends "accounts/auth_base.html" %}
{% load static %}
{% block title %}Polish Dart System | Sign up{% endblock %}
{% block content %}

<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="text-center my-5">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'svg/pds_logo.svg' %}" alt="Polish Dart System logo" width="75">
                    </a>
                </div>
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Sign up</h1>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="id_email">E-Mail address</label>
                                <input id="id_email" type="email" class="form-control" name="email" value=""
                                       maxlength="128" autofocus required>
                                <div class="invalid-feedback">
                                    Email is invalid
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="id_password1">Password</label>
                                <input id="id_password1" type="password" class="form-control"
                                       autocomplete="new-password" name="password1" required>
                            </div>

                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="id_password2">Repeat password</label>
                                <input id="id_password2" type="password" class="form-control"
                                       autocomplete="new-password" name="password2" required>
                            </div>

                            <div class="align-items-center d-flex">
                                <button type="submit" class="btn btn-primary ms-auto">
                                    Register
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                            Already have an account? <a href="{% url 'login' %}" class="text-dark">Log in here</a>
                        </div>
                    </div>
                </div>
                {% include 'accounts/auth_footer.html'%}
            </div>
        </div>
    </div>
</section>

{% endblock %}
