{% extends "base.html" %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Competitors list</h4>
            {% if competitor_list %}
                <ol>
                    {% for c in competitor_list %}
                        <li>{{ c.competitor }} ({{ c.tournament }})</li>
                    {% endfor %}
                </ol>
            {% else %}
                <p>Sorry, no competitors in tournaments yet.</p>
            {% endif %}
    </div>
</div>

{% endblock %}