{% extends 'base.html' %}
{% block title %}Polish Dart System | My tournaments list{% endblock %}
{% block content %}

    <section>
        <div class="text p-3">
            <h5>My tournaments list</h5>
            {% if organizer_tournaments %}
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Start</th>
                                <th scope="col">End</th>
                                <th scope="col">Name</th>
                                <th scope="col">City</th>
                                <th scope="col">Place</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tournament in organizer_tournaments %}
                                <tr>
                                    <td>{{ forloop.counter }}.</td>
                                    <td>{{ tournament.start_date|date:"Y-d-m, H:i" }}</td>
                                    <td>{{ tournament.end_date|date:"Y-d-m, H:i" }}</td>
                                    <td>{{ tournament.name }}</td>
                                    <td>{{ tournament.city }}</td>
                                    <td>{{ tournament.place }}</td>
                                    <td>
                                        <a href="{% url 'tournament_details' tournament.id %}">
                                            <i class="bi bi-binoculars-fill"></i></a>
                                        <a href="{% url 'tournament_edit' tournament.id %}">
                                            <i class="bi bi-pencil-square p-2"></i></a>
                                        <a href="{% url 'competitors_list' tournament.id %}">
                                            <i class="bi bi-people-fill"></i></a>
                                        <a href="{% url 'matches_list' tournament.id %}">
                                            <i class="bi bi-bar-chart-steps p-2"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                    </table>
                </div>
            {% else %}
                <p><i>Sorry, no tournaments yet.</i></p>
            {% endif %}
        </div>
    </section>

{% endblock %}
