{% extends "base.html" %}

{% block title %}Polish Dart System | Tournaments{% endblock %}
{% block content %}

<div class="text p-3">
    <h5>Tournaments list</h5>
    {% if tournaments_list %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        <th scope="col">Name</th>
                        <th scope="col">Competitors</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tournament in tournaments_list %}
                        <tr>
                            <td>{{ tournament.start_date }}</td>
                            <td>{{ tournament.end_date }}</td>
                            <td><a href="{% url 'tournament_detail' tournament.id %}">{{ tournament.name }}</a></td>
                            <td>{{ tournament.approved_competitors }}</td>
                        </tr>
                    {% endfor %}
            </table>
        </div>
    {% else %}
        <p><i>Sorry, no tournaments yet.</i></p>
    {% endif %}
</div>

{% endblock %}
