{% extends "base.html" %}

{% block content %}

<div class="text">
    <p></p>
    <p><strong>Tournament:</strong> {{ tournament_detail.name }}</p>
    <p><strong>Start:</strong> {{ tournament_detail.start_date }}</p>
    <p><strong>End:</strong> {{ tournament_detail.end_date }}</p>
    <p><strong>Organizer:</strong> {{ tournament_detail.organizer }}</p>
    <p><strong>Place:</strong></p>
    <p><strong>City:</strong></p>
    <p><strong>Address:</strong></p>

    {% if request.user.is_authenticated %}
        <p>
            <a href="{% url 'competitors_list' tournament_detail.id %}">Approved competitors list</a>
        </p>
    {% endif %}
</div>

{% endblock %}
