{% extends "base.html" %}

{% block title %}Polish Dart System | Tournament: {{ tournament_detail.name }}{% endblock %}
{% block content %}

<div class="text p-3">
    <p></p>
    <p><strong>Tournament:</strong> {{ tournament_detail.name }}</p>
    <p><strong>Start:</strong> {{ tournament_detail.start_date }}</p>
    <p><strong>End:</strong> {{ tournament_detail.end_date }}</p>
    <p><strong>Organizer:</strong> {{ tournament_detail.organizer }}</p>
    <p><strong>Place:</strong> {{ tournament_detail.place }}</p>
    <p><strong>City:</strong> {{ tournament_detail.city }}</p>
    <p><strong>Address:</strong> {{ tournament_detail.address }}</p>
    <p><strong>Competitors:</strong> {{ tournament_detail.approved_competitors }} ({{ all_competitors }})</p>

    {% if request.user.is_authenticated %}
        <a href="{% url 'competitors_list' tournament_detail.id %}">Approved competitors list</a>
    {% endif %}
</div>

{% endblock %}
