{% extends 'base.html' %}
{% load static %}
{% block title %}Polish Dart System | Tournament edit form{% endblock %}
{% block content %}

    <section>
        <div class="row align-items-center">
            <div class="col">
                <img src="{% static 'img/dartboard.jpeg' %}" alt="Dartboard" width="100%" height="auto">
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <div>
                    <h5 class="fw-bold mb-3">Tournament edit form</h5>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-2">
                            <label class="mb-2 text-muted" for="id_name">Tournament name</label>
                            <input id="id_name" type="text" class="form-control"
                                   name="name" value="{{ tournament_edit.name }}">
                        </div>

                        <div class="row g-2">
                            <div class="col-auto mb-2">
                                <label class="mb-2 text-muted" for="id_start_date">Start date, time</label>
                                <input id="id_start_date" type="datetime-local" class="form-control"
                                       name="start_date" value="{{ tournament_edit.start_date|date:'Y-m-d\TH:i' }}">
                            </div>

                            <div class="col-auto mb-2">
                                <label class="mb-2 text-muted" for="id_end_date">End date, time</label>
                                <input id="id_end_date" type="datetime-local" class="form-control"
                                       name="end_date" value="{{ tournament_edit.end_date|date:'Y-m-d\TH:i' }}">
                            </div>
                        </div>

                        <div class="mb-2">
                            <label class="mb-2 text-muted" for="id_place">Place name</label>
                            <input id="id_place" type="text" class="form-control"
                                   name="place" value="{{ tournament_edit.place }}">
                        </div>


                        <div class ="row g-2">
                            <div class="col-auto mb-3">
                                <label class="mb-2 text-muted" for="id_country">Country</label>
                                <input id="id_country" type="text" class="form-control"
                                       name="country" value="{{ tournament_edit.country }}">
                            </div>

                            <div class="col-auto mb-3">
                                <label class="mb-2 text-muted" for="id_city">City</label>
                                <input id="id_city" type="text" class="form-control"
                                       name="city" value="{{ tournament_edit.city }}">
                            </div>
                        </div>

                        <div class="mb-2">
                            <label class="mb-2 text-muted" for="id_address">Address</label>
                            <input id="id_address" type="text" class="form-control"
                                   name="address" value="{{ tournament_edit.address }}">
                        </div>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-success btn-sm">
                                Save changes
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" onclick="goBack()">
                                Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
