{% extends 'base.html' %}
{% load static %}
{% block title %}Polish Dart System | Tournament: {{ tournament_detail.name }}{% endblock %}
{% block content %}

    <section>
        <div class="row align-items-center">
            <div class="col">
                <img src="{% static '/img/dartboard.jpeg' %}" alt="Dartboard" width="100%" height="auto">
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-dark">
                            <tr>
                              <th colspan="2" scope="row">Tournament details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Tournament</th>
                                <td>{{ tournament.name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Start</th>
                                <td>{{ tournament.start_date }}</td>
                            </tr>
                            <tr>
                                <th scope="row">End</th>
                                <td>{{ tournament.end_date }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Organizer</th>
                                <td>{{ tournament.organizer }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Place</th>
                                <td>{{ tournament.place }}</td>
                            </tr>
                            <tr>
                                <th scope="row">City</th>
                                <td>{{ tournament.city }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Address</th>
                                <td>{{ tournament.address }}</td>
                            </tr>
                            {% if request.user.is_authenticated and is_registered %}
                                <tr>
                                    <th scope="row">Competitors</th>
                                    <td>{{ approved_competitors }} ({{ all_competitors }})</td>
                                </tr>
                                <tr>
                                    <th scope="row">Your status</th>
                                    <td>
                                        {% if is_approved %}
                                            <span class="badge rounded-pill text-bg-success">Approved</span>
                                        {% else %}
                                            <span class="badge rounded-pill text-bg-danger">Registered</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <a href="{% url 'tournaments_list'%}">
                            <button type="button" class="btn btn-secondary btn-sm">Tournaments list</button>
                        </a>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'competitors_list' tournament.id %}">
                                <button type="button" class="btn btn-primary btn-sm">Check competitors</button>
                            </a>
                            {% if not is_registered %}
                                <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                    <button type="submit" class="btn btn-success btn-sm">Register me</button>
                                </form>
                            {% endif %}
                        {% else %}
                            <p><a href="{% url 'login' %}">Log in</a> to add yourself as a competitor.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}