{% extends 'base.html' %}
{% load static %}
{% block title %}Polish Dart System | Tournament: {{ tournament_detail.name }}{% endblock %}
{% block content %}

    <section>
        <div class="row align-items-center">
            <div class="col">
                <img src="{% static '/img/dartboard.jpeg' %}" alt="Dartboard" width="100%" height="auto">
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-dark">
                            <tr>
                              <th colspan="2" scope="row">Tournament details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Name</th>
                                <td>{{ tournament.name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Start</th>
                                <td>{{ tournament.start_date|date:"Y-d-m, H:i" }}</td>
                            </tr>
                            <tr>
                                <th scope="row">End</th>
                                <td>{{ tournament.end_date|date:"Y-d-m, H:i" }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Organizer</th>
                                <td>{{ tournament.organizer }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Place</th>
                                <td>{{ tournament.place }}</td>
                            </tr>
                            <tr>
                                <th scope="row">City</th>
                                <td>{{ tournament.city }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Address</th>
                                <td>{{ tournament.address }}</td>
                            </tr>
                            {% if is_tournament_organizer %}
                                <tr>
                                    <th scope="row">All registered</th>
                                    <td>{{ num_registered }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th scope="row">Players</th>
                                <td>{{ num_players }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Judges</th>
                                <td>{{ num_judges }}</td>
                            </tr>
                            <tr>
                                {% if request.user.is_authenticated %}
                                    <th scope="row">Your status</th>
                                    <td>
                                        {% if is_registered %}
                                            {% if is_tournament_organizer %}
                                                <span class="badge text-bg-info">Organizer</span>
                                            {% elif not is_player and not is_judge %}
                                                <span class="badge text-bg-danger">Registered</span>
                                            {% endif %}
                                        {% endif %}
                                        {% if not is_registered and is_tournament_organizer %}
                                            <span class="badge text-bg-info">Organizer</span>
                                        {% endif %}
                                        {% if is_registered and is_player %}
                                            <span class="badge text-bg-success">Player</span>
                                        {% endif %}
                                        {% if is_registered and is_judge %}
                                            <span class="badge text-bg-warning">Judge</span>
                                        {% endif %}
                                        {% if not is_registered and not is_tournament_organizer %}
                                            <span class="badge text-bg-secondary">None</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <button type="button" class="btn btn-primary btn-sm" onclick="goBack()">
                            Back
                        </button>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'competitors_list' tournament.id %}">
                                <button type="button" class="btn btn-primary btn-sm">Competitors</button>
                            </a>
                        {% endif %}
                        {% if is_tournament_organizer %}
                            <a href="{% url 'tournament_edit' tournament.id %}">
                                <button type="button" class="btn btn-primary btn-sm">Edit tournament</button>
                            </a>
                        {% endif %}
                        {% if not is_registered %}
                            <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                                <button type="submit" class="btn btn-success btn-sm">Register me</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}