{% load static %}

<html {% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}" {% endif %} data-bs-theme="dark">
<head>
    <title>
            Polish Dart System
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'favicon/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
    <link href="{% static 'favicon/favicon-32x32.png' %}" rel="icon" type="image/png" sizes="32x32">
    <link href="{% static 'favicon/favicon-16x16.png' %}" rel="icon" type="image/png" sizes="16x16">
    <link href="{% static 'favicon/site.webmanifest' %}" rel="manifest">
</head>
<body>
    <!-- Navbar  -->
    <div class="container">
        {% include 'navbar.html' %}
    </div>
    <!-- Navbar end -->
    <main role="main" class="container">
        {% block content %}
        {% endblock %}
    </main>
    <!-- Footer -->
    <div class="container">
        {% include 'footer.html' %}
    </div>
    <!-- Footer end -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
            crossorigin="anonymous"></script>
</body>