{% extends "base.html" %}

{% load static %}
{% block title %}Polish Dart System | Probably the best dart tournaments management system{% endblock %}
{% block content %}

<div class="row align-items-center">
    <div class="col">
        <img src="{% static '/img/dartboard.jpeg' %}" alt="Dartboard" width="100%" height="auto">
    </div>
    <div class="col d-flex justify-content-center align-items-center">
        <div class="card shadow-lg" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title fw-bold">PDS statistic</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">How many numbers we have</h6>
                <p class="card-text">
                    <strong>Payers:</strong> {{ num_players }}<br>
                    <strong>Judges:</strong> {{ num_judges }}<br>
                    <strong>Organizers:</strong> {{ num_organizers }}<br>
                    <strong>Competitors:</strong> {{ num_competitors }}<br>
                    <strong>Tournaments:</strong> {{ num_tournaments }}<br>
                    <strong>Matches:</strong> {{ num_matches }}<br>
                    <strong>Trainings:</strong> {{ num_trainings }}<br>
                </p>
                <a href="{% url 'login' %}" class="card-link">Log in</a>
                <a href="{% url 'signup' %}" class="card-link">Sign up</a>
          </div>
        </div>
    </div>
</div>

{% endblock %}